$bule-color:#108ee9;
$system-right:30px;
$system-transform-y:-80px;

.content{
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.body{
    height:100%;
    position: relative;
}


// systemBox


.system{
    &-box{
        position: absolute;
        transform: translate3d(0, $system-transform-y, 0);
        z-index: 1000;
        right: $system-right;
    }
}